In [6]:
import utils

# 対象データファイル
DATA_FILES = [
    'https://raw.githubusercontent.com/noko-noko-mk2/mgcm-data/main/data/%E3%83%A1%E3%82%A4%E3%83%B3%E3%82%B9%E3%83%88%E3%83%BC%E3%83%AA%E3%83%BC%E7%AC%AC2%E9%83%A8/%E7%AC%AC10%E7%AB%A0.tsv'
]

df = utils.read_data(DATA_FILES)

## ステージごとの総ドロップ集計

In [7]:
df.groupby('ステージ').sum()

,周回数,1周スタミナ,魔法糸小,魔法糸中,魔法糸大,ベル,ジュエル,プレミアガチャチケット,SR以上限定プレミアガチャチケットのかけら,1984エリザ,2061エリザ,クッキングエプロンエリザ,ホリデーカジュアルエリザ,ラウンジウェアエリザ,俊敏の破宝珠,精密の破宝珠
ステージ,,,,,,,,,,,,,,,,
10-4,200,32,0.0,155.0,65.0,1277359.0,9,0,2,0,0,5,2,10,107,97
10-5,200,32,0.0,151.0,52.0,1410156.0,22,0,1,0,1,4,2,14,78,71

## ステージごとの平均ドロップ

In [3]:
sum_df = df.groupby('ステージ').sum()
sum_df.divide(sum_df['周回数'], axis=0).drop(['周回数', '1周スタミナ'], axis=1)

,魔法糸小,魔法糸中,魔法糸大,ベル,ジュエル,プレミアガチャチケット,SR以上限定プレミアガチャチケットのかけら,1984エリザ,2061エリザ,クッキングエプロンエリザ,ホリデーカジュアルエリザ,ラウンジウェアエリザ,俊敏の破宝珠,精密の破宝珠
ステージ,,,,,,,,,,,,,,
10-4,0.0,0.775,0.325,6386.795,0.045,0.0,0.010,0.0,0.000,0.025,0.01,0.05,0.535,0.485
10-5,0.0,0.755,0.260,7050.780,0.110,0.0,0.005,0.0,0.005,0.020,0.01,0.07,0.390,0.355

In [5]:
df[['周回数', 'ベル']]

   周回数        ベル
0   50  392321.0
1   50  351674.0
2   50  333097.0
3   50  333064.0
4   50  288678.0
5   50  330577.0
6   50  316601.0
7   50  341503.0